<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生一覧</title>
</head>
<body>

<h1>受講生一覧</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>メール</th>
    <th>コース</th>
  </tr>

  <tr th:each="studentDetail : ${studentDetailList}">
    <!-- 学生情報 -->
    <td th:text="${studentDetail.student.id}"></td>
    <td th:text="${studentDetail.student.fullName}"></td>
    <td th:text="${studentDetail.student.email}"></td>

    <!-- コース情報 -->
    <td>
      <!-- コースが無い場合 -->
      <span th:if="${#lists.isEmpty(studentDetail.studentCourseList)}">
                コース未登録
            </span>

      <!-- コースがある場合 -->
      <ul th:if="${!#lists.isEmpty(studentDetail.studentCourseList)}">
        <li th:each="course : ${studentDetail.studentCourseList}"
            th:text="${course.courseName}">
        </li>
      </ul>
    </td>
  </tr>

</table>

</body>
</html>