<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生一覧</title>
</head>

<body>
<h1>受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
    <th>受講コース</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="studentDetail : ${studentList}">
  <td th:text="${studentDetail.student.id}"></td>

    <!-- 名前クリックで更新画面へ -->
    <td>
      <a th:href="@{/updateStudent/{id}(id=${studentDetail.student.id})}"
         th:text="${studentDetail.student.fullName}">
      </a>
    </td>

    <td th:text="${studentDetail.student.furigana}"></td>
    <td th:text="${studentDetail.student.nickname}"></td>
    <td th:text="${studentDetail.student.email}"></td>
    <td th:text="${studentDetail.student.region}"></td>
    <td th:text="${studentDetail.student.age}"></td>
    <td th:text="${studentDetail.student.gender}"></td>
    <td th:text="${studentDetail.student.remark}"></td>

    <td>
        <span th:if="${#lists.isEmpty(studentDetail.studentsCourses)}">
          未受講
        </span>

      <span th:each="course : ${studentDetail.studentsCourses}">
          <span th:text="${course.courseName}"></span><br>
        </span>
    </td>

　</tr>
　</tbody>
　</table>

</body>
</html>
